services:
  db:
    container_name: db
    image: postgres:17.5
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"

  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    image: app
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_HOST=db
      - DB_PORT=${DB_PORT}
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  db-data: